@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

.open-sans-nfc {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite-vn-guides-regular {
  font-family: "Playwrite VN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinning-header {
  position: sticky;
  top: 0px;
  height: auto;
  min-height: 70px;
  z-index: 1;
}

.pinning-header.hide {
    opacity: 0;
    pointer-events: none
}

.pinning-header .pinning-header-container {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
}

.pinning-header .pinning-header-container .main-header {
    height: 68px;
    z-index: 2;
}

.pinning-header .main-header {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    padding: 0 4%;
    position: relative;
    transition: var(--background) .4s;
    z-index: 2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Playwrite VN Guides", "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}
